* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 270px;
    height: 100vh;

    background: #09090f;
    border-right: 1px solid rgba(255,255,255,.08);

    display: flex;
    flex-direction: column;

    padding: 30px 18px;
}

/* Logo */

.logos {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}

/* Navigation */

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar nav a {
    text-decoration: none;
    color: #9CA3AF;

    padding: 14px 18px;
    border-radius: 12px;

    font-size: 16px;
    font-weight: 500;

    transition: .25s ease;
}

.sidebar nav a:hover {
    background: rgba(139,92,246,.15);
    color: white;
}

.sidebar nav a.active {
    background: linear-gradient(
        90deg,
        rgba(99,102,241,.22),
        rgba(139,92,246,.22)
    );

    color: white;
}

/* Push profile to bottom */

.profile {
    margin-top: auto;

    display: flex;
    align-items: center;

    gap: 14px;

    background: rgba(255,255,255,.05);

    border-radius: 14px;

    padding: 14px;
}

.avatar {
    width: 46px;
    height: 46px;

    border-radius: 50%;

    background: linear-gradient(135deg,#6366f1,#8b5cf6);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 700;
}

.profile h4 {
    color: white;
    font-size: 17px;
}

.profile p {
    color: #9CA3AF;
    font-size: 14px;
}